<div class="container">
  <div class="user-details">
    <h3> Summary Test</h3>
    <p align="left"> CuDB is a parallel implementation of gradient boosting decision tree in CUDA on the GPU. The main focus of the project includes:</p>
    <div align="left"> 
      <ul>
        <li>Developing a sequential implementation of gradient boosting to serve as a baseline.</li>
        <li>Experimenting with different approaches to optimize parallel implementation in Cuda on GPU.</li>
        <li>Comparing and analyzing performance of different implementations against baseline sequential version to optimize our algorithm.
</li>
      </ul>
    </div>
    <h3> Background </h3>
    <h4> Decision Tree </h4>
    <p align="left"> In machine learning, a decision tree is a structure used as a predictive model 
      to conclude about the item’s target value from a set of attributes. A classification tree takes a finite 
      set of values that represent categories, whereas a regression tree can take continuous values to represent 
      probability. An example of regression tree is shown below in Figure 1. Each node of the decision tree 
      represents a test on a specific attribute such as age and gender, and the outcome of the result is represented 
      by the branch of the node.  The leaf of the tree represents the corresponding target value assigned to the data entries that travel from the root to this particular leaf following the outcomes of testing the attributes. 
</p>
    <div><img src="{{ "/assets/img/img_1.png" | prepend: site.baseurl }}" width="50%" height="50%"/><p>Figure 1: Decision tree example</p></div>
    <img alt="Decision Tree" src="{{ "/assets/img/img_1.png" | prepend: site.baseurl }}" width="50%" height="50%" /><p>
  </div>
</div>
