<div class="container">
  <div class="user-details" align="left">
    <h3> Summary Test</h3>
    <p align="left"> CuDB is a parallel implementation of gradient boosting decision tree in CUDA on the GPU. The main focus of the project includes:</p>
      <ul>
        <li>Developing a sequential implementation of gradient boosting to serve as a baseline.</li>
        <li>Experimenting with different approaches to optimize parallel implementation in Cuda on GPU.</li>
        <li>Comparing and analyzing performance of different implementations against baseline sequential version to optimize our algorithm.
</li>
      </ul>
    <img alt="mountains" src="{{ "/assets/img/img_1.png" | prepend: site.baseurl }}" width="50%" height="50%" />
  </div>
</div>
