<div class="container">
  <div class="user-details">
    <h3>More Options</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns" align="center">
      <h5> Project Proposal </h5>
      <a class="project-link" href="https://github.com/whitelez/15618_project/blob/master/15418_Project_Proposal.pdf">Direct to Github</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns" align="center">
      <h5> Project Checkpoint </h5>
      <a class="project-link" href="https://github.com/whitelez/15618_project/blob/master/15418_Project_Checkpoint.pdf">Direct to Github</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns" align="center">
      <h5> Home Page </h5>
      <a class="project-link" href=#>Back</a>
    </div>
  </div>
</div>
